/**
 * Sort of like a featured image. Wider than the main content.
 * But has a max-width and max-height applied. Centred.
 * is-style-pathways-pseudo-featured is on the figure element.
 */

/* Ensure the image is centred. */
.is-style-pathways-pseudo-featured {
    margin: 2em auto 0 !important;
    text-align: center;
}

/* Allow the image to have full width in the editor. */
html body.wp-admin .wp-block-image.is-style-pathways-pseudo-featured .components-resizable-box__container {
    display: block;
    margin: 0 auto;
}

/* Enforce the height and width, and use cover so the image isn't awkwardly resized. */
html body.wp-admin .is-style-pathways-pseudo-featured img,
.is-style-pathways-pseudo-featured img {
    max-height: 470px;
    height: auto;
    max-width: 940px;
    width: 100%;
    object-fit: cover;
    margin: auto;
    box-sizing: border-box;
}

html body .is-style-pathways-pseudo-featured figcaption {
    font-size: 14px;
    margin-top: 5px !important;
    line-height: 1.7em;
    text-align: left;
    margin-bottom: 1.6em;
    color: var(--color-ubc-primary);
    max-width: 940px;
    margin: 5px auto 1em;
}
