/**
 * A 1px thick, centred, 71%-wide, tertiary blue/grey coloured dividing line.
 */
html body div hr.wp-block-separator.is-style-pathways-wide-tertiary {
    width: 71%;
    max-width: 930px;
    height: 1px;
    margin: 0 auto;
    border-bottom: none;
    border-top: none;
    background-color: var(--color-ubc-tertiary, #C3D0DB);
    color: var(--color-ubc-tertiary, #C3D0DB);
    border-color: var(--color-ubc-tertiary, #C3D0DB);
}

/**
 * A 1px thick, centred, 100%-wide, tertiary blue/grey coloured dividing line.
 */
html body div hr.wp-block-separator.is-style-pathways-full-tertiary {
    width: 100%;
    height: 1px;
    margin: 0 auto;
    border-bottom: none;
    border-top: none;
    background-color: var(--color-ubc-tertiary, #C3D0DB);
    color: var(--color-ubc-tertiary, #C3D0DB);
    border-color: var(--color-ubc-tertiary, #C3D0DB);
}
